#main{
    width: 100%;
    height: 50px;
    background-color: #207398;
    color: #ffff;

}


#main>ul{
   display: flex;
   justify-content: space-evenly;
   font-size: 20px;
   padding: 10px;
}

#main>ul>li{
    list-style-type: none;
    color: #ffff;
}
#main>ul>li>a{
    text-decoration: none;
    color: #ffff;
}
#div_se{
    width: 250px;
    height: 30px;
}
input{
    width: 70%;
    height: 100%;

}
button{
    width: 20%;
    height: 100%;
}